<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Flask specific settings -->
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="app.app" />
    <!-- app.app refers to the Flask app instance in app.py -->
  </appSettings>

  <system.webServer>
    <handlers>
      <!-- Configures IIS to handle requests using WSGI handler -->
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python354x64\python.exe|D:\home\python354x64\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FlaskApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="handler.fcgi/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

